*{
 box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: black;
}
body{
    margin: 0;
    background-color: #0E0E19;
    background-image:url('images/Stars.png');
}

.landing{
    width: 100%;
    height: 20vh;
}
.navbar{
    margin-left: 150px;
    margin-right: 150px;
    cursor: pointer;
}

.navbar-brand{
    padding-left: 25px;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
 }
 .navbar-brand:hover{
     padding-top: 20px;
     font-size: 15px;
     color: rgb(190, 190, 190);
 }
.namet{
    padding-top: 120px;
}
 .images img{
    padding-top: 100px;
    width: 20%;
    margin-left: 100px;
}
@keyframes moveIt {
    0%, 100% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
  }
h2{
    font-family: 'Playfair Display', serif;
    color:#fff;
    margin-top: 180px;
    margin-left:180px;
    font-size: 60px;
    letter-spacing: 0.1rem;
    
}
p{
    color:rgb(218, 218, 218);
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left:180px;
    line-height:36px;
    width:40%;
}
p span{
    color:rgb(218, 218, 218);
    font-weight:900;
}
.check{
    padding-top: 30px;
    margin-left:180px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
hr{
    width: 286.03px;
    color:#ffffff;
    border: 3px solid rgb(255, 255, 255);
    margin-left: 180px;
}
hr:hover{
    width: 286.03px;
    color:#ffffff;
    border: 5px solid rgb(255, 255, 255);
    margin-left: 180px;
}
@media only screen and (max-width:1024px){
    .navbar{
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-brand{
        padding-left: 5px;
        padding-top: 0px;
        font-size: 12px;
        color: rgb(255, 255, 255);
     }
     .navbar-brand:hover{
        padding-left: 5px;
         font-size: 12px;
         color: rgb(190, 190, 190);
     }
     .images img{
        padding-top: 100px;
        width: 45%;
    }
    .name{
        font-family: 'Playfair Display', serif;
        color:rgb(255, 255, 255);
        margin-top: 150px;
        margin-left:10px;
        font-size: 50px;
        letter-spacing: 0.01rem;
        
    }
    p{
        color:rgb(218, 218, 218);
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        margin-left:10px;
        line-height:22px;
        width:80%;
    }
    p span{
        color:rgb(218, 218, 218);
        font-weight:900;
    }
    .check{
        padding-top: 30px;
        margin-left:10px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    hr{
        width: 186.03px;
        color:#ffffff;
        border: 3px solid rgb(255, 255, 255);
        margin-left: 10px;
    }
    hr:hover{
        width: 186.03px;
        color:#ffffff;
        border-bottom: 2px solid #fff;
        margin-left: 10px;
    }
}
.second{
    padding-top:850px;
    width: 100%;
    height: 300vh;
}
.second img{
    width:20%;
}
.second h1{
    margin-left:180px;
    font-size: 21px;
    letter-spacing: 0.03rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.second h1::before{
    content: "";
    width: 100px;
    border-bottom: 3.5px solid #fff;
    margin-right: 20px;
}
.second h2{
    margin-top: 70px;
    font-size: 23px;
    letter-spacing: 0.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.second p{
    width: 539px;
}
.secontent{
    margin-right: 150px;
    margin-top:400px;
}
.secontent img{
    width:30%;
}
.line{
    width: 186.03px;
    color:#ffffff;
    border: 3px solid rgb(255, 255, 255);
    margin-left: 10px;
    margin-left:180px;
    }
    .line:hover{
        width: 186.03px;
        color:#ffffff;
        border: 5px solid rgb(255, 255, 255);
        margin-left: 10px;
        margin-left:180px;
        }
.probut{
    border:none;
    background-color: red;
    margin-top: 20px;
    margin-left: 180px;
    padding-left:35px;
    padding-right:35px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    float: right;
}
@media only screen and (max-width: 1024px){
    .second{
        padding-top:850px;
        width: 100%;
        height: 300vh;
    }
    .second img{
        width:50%;
    }
    .second h1{
        margin-left:10px;
        font-size: 21px;
        letter-spacing: 0.03rem;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
    }
    .second h1::before{
        content: "";
        width: 100px;
        border-bottom: 3.5px solid #fff;
        margin-right: 20px;
    }
    .second h2{
        margin-left: 10px;
        margin-top: 100px;
        font-size: 23px;
        letter-spacing: 0.1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        color: rgb(255, 255, 255);
    }
    .second p{
        width: 239px;
    }
    .secontent{
        margin-right: 0px;
        margin-top:150px;
    }
    .secontent img{
        width:100%;
    }
    .secontent h2{
        margin-right: 10px;
        margin-top: 50px;
        font-size: 23px;
        letter-spacing: 0.1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        color: rgb(255, 255, 255);
    }
    .secontent p{
        width: 239px;
    }
    .line{
        width: 186.03px;
        color:#ffffff;
        border: 3px solid rgb(255, 255, 255);
        margin-left: 10px;
        }
        .line:hover{
            width: 186.03px;
            color:#ffffff;
            border: 5px solid rgb(255, 255, 255);
            margin-left: 10px;
            margin-left:180px;
            }
}

.third{
    width: 100%;
    height: 80vh;
}
.third img{
    margin-top: 80px;
    margin-right:150px;
    width: 15%;
    transform-origin: 50% 0;
    animation: moveIt 2.5s ease-in-out infinite;
}
.third h1{
    margin-left:180px;
    font-size: 21px;
    letter-spacing: 0.03rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.third h1::before{
    content: "";
    width: 100px;
    border-bottom: 3.5px solid #fff;
    margin-right: 20px;
}
.third h2{
    font-size: 30px;
    margin-top: 50px;
}
.para1{
    margin-top: 30px;
}
.para2{
    margin-top: 0px;
}

@media only screen and (max-width:1024px){
    .third{
        margin-top: 250px;
        width: 100%;
        height: 80vh;
    }
    .third img{
        margin-top: 80px;
        margin-right:10px;
        width: 24%;
    }
    .third h1{
        margin-top: 150px;
        margin-left:10px;
        font-size: 21px;
        letter-spacing: 0.03rem;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
    }
    .third h1::before{
        content: "";
        width: 100px;
        border-bottom: 3.5px solid #fff;
        margin-right: 20px;
    }
    .third h2{
        font-size: 20px;
        margin-top: 50px;
        margin-left: 10px;
    }
    .para1{
        margin-right: 20px;
        margin-top: 30px;
    }
    .para2{
        margin-top: 0px;
    }
    
}
.end1{
    width:50%;
}
.end2{
    width: 50%;
    float: right;
}
.contact1{
    display: flex;
}
.contact{
    display: inline-block;
    margin-top: 100px;
    margin-left:180px;
    margin-bottom: 50px;
}
.contact h1{
    margin-left:10px;
    font-size: 21px;
    letter-spacing: 0.03rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.contact h1::before{
    content: "";
    width: 100px;
    border-bottom: 3.5px solid #fff;
    margin-right: 20px;
}
.contact h2{
    color:rgb(218, 218, 218);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height:36px;
    margin-left:10px;
    margin-top: 15px;
    width:80%;
}
input{
    background-color: rgba(211, 211, 211, 0.158);
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size:20px;
    padding:20px;
}
.message{
    padding-right: 320px;
    padding-bottom: 160px;
}
.submit{
    border:none;
    background-color: red;
    margin-top: 20px;
    padding-left:35px;
    padding-right:35px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}
.download{
    border:none;
    background-color: red;
    margin-top: 20px;
    margin-left: 180px;
    padding-left:35px;
    padding-right:35px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}
.links{
    margin-left: 350px;
    margin-top: 150px;
    display: inline-block;
}
.links img{
    width: 15%;
    padding-bottom: 40px;
}
.links ul li{
    cursor: pointer;
    list-style: none;
}
.last{
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100%;
}
.download a{
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width:1024px){
    .end1{
        padding-top: 100px;
        width:50%;
    }
    .end2{
        padding-top: 100px;
        width: 50%;
        float: right;
    }
    .contact1{
        display: flex;
    }
    .contact{
        display: inline-block;
        margin-top: 100px;
        margin-left:10px;
        margin-bottom: 50px;
    }
    .contact h1{
        margin-left:10px;
        font-size: 21px;
        letter-spacing: 0.03rem;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
    }
    .contact h1::before{
        content: "";
        width: 100px;
        border-bottom: 3.5px solid #fff;
        margin-right: 20px;
    }
    .contact h2{
        color:rgb(218, 218, 218);
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        line-height:36px;
        margin-left:10px;
        margin-top: 15px;
        width:80%;
    }
    input{
        background-color: rgba(211, 211, 211, 0.158);
        margin-top: 20px;
        border: none;
        border-radius: 6px;
        font-size:13px;
        padding:10px;
    }
    .message{
        padding-right: 120px;
        padding-bottom: 160px;
    }
    .submit{
        border:none;
        background-color: red;
        margin-top: 20px;
        padding-left:35px;
        padding-right:35px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 5px;
        color: #fff;
        font-size: 17px;
    }
    .download{
        border:none;
        background-color: red;
        margin-top: 20px;
        margin-left: 10px;
        padding-left:35px;
        padding-right:35px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 5px;
        color: #fff;
        font-size: 17px;
    }
    .links{
        display: inline-block;
        margin-left: 0px;
        margin-top: 280px;
    }
    .links img{
        padding-right: 10px;
        width: 45px;
        padding-bottom: 30px;
    }
    .links ul li{
        cursor: pointer;
        list-style: none;
    }
    .last{
        text-align: center;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 20px;
        width: 100%;
    }
    .download a{
        text-decoration: none;
        color: #fff;
    }
}
